:root {
	font-family: arial, sans-serif;
	font-size: 18px;
}

.box {
	width: 400px;
	height: 400px;
}

.main_bar {
	display: flex;
	height: 200px;
}

.chart {
	width: 200px;
}

.text_box {
	width: 200px;
	margin-left: 30px;
	margin-top: 10px;
}

.data_heading {
	height: 20px;
}

.data_text {
	height: 40px;
	line-height: 40px;
	font-size: 24px;
	font-weight: bold;
}

@media (min-resolution: 150dpi) {
    :root {
	    font-size: 36px;
    }

    .box {
	    width: 800px;
	    height: 800px;
    }

    .main_bar {
	    height: 400px;
    }

    .chart {
	    width: 400px;
    }

    .text_box {
	    width: 400px;
    }

    .data_heading {
	    height: 40px;
    }

    .data_text {
	    height: 80px;
	    line-height: 80px;
	    font-size: 48px;
    }
}

